# macOS
.DS_Store
.AppleDouble
.LSOverride

# iCloud placeholders
*.icloud

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/
next-env.d.ts

# Production
build/

# Environment
.env*
!.env.example

# Netlify
.netlify/

# TypeScript
*.tsbuildinfo
